{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2>HomePage</h2>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-2">
                    Hi {{ user.username }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <p><a href="{% url 'logout' %}">Logout</a></p>
                    <p><a href="{% url 'password_reset'%}">Reset password</a></p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-2">
                    <p>You're not logged</p>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}